.article-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  min-height: 100vh;
  padding-bottom: 45px;

  &__image {
    width: 100%;
    max-height: 245px;
    object-fit: cover;
  }

  &__card {
    margin: -80px 75px 35px 75px;
    padding: 35px 75px 50px 75px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);

    @media (max-width: 768px) {
      margin: -40px 20px 17px 20px;
      padding: 17px 20px 20px 20px;
    }

    &__title {
      text-align: center;
    }

    &__summary {
      white-space: pre-line;
    }
  }
}
