.home-page__articles {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px) {
  .home-page__articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .home-page__articles {
    grid-template-columns: 1fr;
  }
}
